@import './utilidades/colors';
@import './utilidades/reset';


@import './secciones/header';
@import './secciones/footer';
@import './secciones/noticias';
@import './secciones/partidos';
@import './secciones/posiciones';
@import './secciones/equipo';
@import './secciones/tienda';
@import './secciones/historia';

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
}

li {
    a {
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

h1{
    padding: 20px;
    color: $rojo-principal;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

main {
    background-color: $azul-principal;
    padding: 10px;
}

#contenido {
    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
    overflow-y:auto;
    overflow-x: hidden;
}








.titulo_posiciones,
.titulo_noticias,
.posiciones_info,
.titulos_camisetas,
.proximo-titulo {
    color: black;
    background-color: white;
    letter-spacing: 7px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.titulos_camisetas {
    padding-top: 30px;
    margin-top: 0;
}

.titulo_posiciones,
.titulo_noticias{
    h2{
    margin: 0;
    font-weight: bold;
}
}












/*CARROUSEL*/

.texto-bajo-imagen {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 40px;
    color: $rojo-principal;
    >h5{
        font-size: 30px;
        font-weight: bold;
        transition: all 300ms;
    }
    >p{
        transition: all 300ms;
    }
}



.carousel-item:hover .texto-bajo-imagen>h5 {
    color: $rojo-hover;
}

.carousel-item:hover .texto-bajo-imagen>p {
    background-color: #ccc;
}



/*MEDIA QUERIES*/
@media only screen and (max-width:900px) {
    .grid-noticias {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-template-areas:
            "noticia-1"
            "noticia-2"
            "noticia-3"
            "noticia-4"
            "noticia-5"
            "noticia-6"
            "noticia-7"
            "noticia-8"
            "noticia-9";
    }

    .grid-noticias>div {
        width: 100%;
        margin: 0 auto;
    }

    .posiciones {
        flex-direction: column;
        align-items: center;
    }

    .header_ABA,
    .header_Euroliga {
        width: 100%;
        margin-top: 15px;
    }

    table {
        width: 100%;
    }

    .footer_sponsors,
    .footer_sponsors2 {
        padding: 10px;
    }


    .adida {
        width: 42.5px;
        height: 28.95px;
    }

    .footer1-logo2 {
        width: 46px;
        height: 25px;
    }

    .footer2-logo1 {
        width: 40px;
        height: 24px;
    }

    .footer3-logo {
        width: 32px;
        height: 19.2px;
    }

    .redes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: content-box;
        width: 100%;
        justify-content: flex-end;
    }

    .fa{
        font-size: 15px;
    }

    .derechos {
        padding-top: 15px;
    }

    .derechos{
        a,span{
            font-size: 10px;
        }

    }

    .caja_jugadores {
        flex-direction: column;
        align-items: center;
    }



    .jugadores{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 85%;
        margin-left: 0;
        >img {
        object-fit: cover;
        }
    }

    .player-name,
.apellido-jugador,
.numero-jugador,
.CT-name,
.CT-apellido {
    font-size: x-large;
}



    .caja_tecnicos{
        flex-direction: column;
    }

    .tecnicos{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-left: 0;
        >img{
            object-fit: cover;
        }
    }

.anios{
        >li{
            >span{
                font-size: medium;
            }
        }
    }



    .header {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        img{
        width: 74px;
        height: 85.5px;
        }
        margin: 0;
        a{
            img{
                width: auto;
                padding: 0;
            }
        }
    }

    nav {
        margin: 0;
    }

    .hamburgesa,
    .menu-desplegable {
        display: block;
    }





    .nav_links{
        padding-left: 0;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: white;
        width: 300px;
        height: 100%;
        padding-top: 65px;
        li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        a{
            font-size: 18px;
            display: block;
            padding: 30px;
        }
        }
    }

    .logo-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border: none;
    }


.grid-partidos{
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .partido-equipos{
            order: 1;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .equipo-logo-record{
                align-items: center;
                >img{
                    width: 80.6px;
                    height: 110.5px;
                }
            }
        }
        .data-partido{
            order: 2;
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 15px;
            >img{
                width: 43.4px;
                height: 59.5px;
            }
            .jornada-lugar{
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
                padding: 5px 0px;
                >span{
                    margin: 0 auto;
                }
            }
            >p{
                padding-top: 5px;
                border-top: 1px solid #ccc;
                .dia,
                .horario{
                    border-left: none;
                    display: inline;
                }
            }
        }
        .tickets{
            order: 3;
            box-sizing: border-box;
            padding-bottom: 10px;
        }
        align-items: center;
    }
}

.proximo-partido{
    .equipos-liga{
        .logo-record,
        .liga-tickets{
            >img{
                width: 70%;
                height: 70%;
            }
        }
    }
}


    ol,
    ul {
        padding-left: 0;
    }

    .posiciones_ABA,
    .posiciones_Euroliga {
        width: 90%;
    }

    .pos {
        text-align: center;
    }

    .th_1 {
        text-align: start;
    }

    .posiciones_ABA{
        margin-right: 0;
    }
}

@media only screen and (max-width:300px){
    .player-name,
.apellido-jugador,
.numero-jugador,
.CT-name,
.CT-apellido {
    font-size: large;
}
}


