.posiciones {
    display: flex;
    justify-content: space-between;
}

.posiciones_ABA,
.posiciones_Euroliga {
    width: 80%;
}

.posiciones_ABA{
    margin-right: 10px;
}

/*TABLAS DE POSICIONES*/



.header_ABA,
.header_Euroliga {
    padding: 25px;
    text-align: center;
    background-color: white;
    color: $azul-principal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-top: 20px;
    border-radius: 2px 2px 0 0;

    h4 {
        margin-bottom: 1px;
        font-weight: bold;
    }
}





.th_1 {
    padding-right: 80px;
    padding-left: 10px;
}

.th_2 {
    text-align: center;
    padding: 0px 15px;
}

.posicion {
    text-align: center;
}

table {
    display: table;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    tbody {
        tr {
            td {
                border-top: 1px solid black;
                padding: 10px;
            }
        }

        tr:hover {
            td {
                background-color: rgb(236, 235, 235);
                cursor: pointer;
            }
        }
    }

    thead {
        tr {
            th {
                color: $azul-principal;
            }
        }
    }
}



.pos {
    padding: 5px;
    text-align: center;
}

.VyD {
    text-align: center;
}

.linea_flex {
    >span,
    >img{
        vertical-align: middle;
    }
}